@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato') ;
@font-face {
font-family : 'IM Fell French Canon SC';
font-style : normal;
font-weight : 400;
src : url(https://fonts.gstatic.com/s/imfellfrenchcanonsc/v20/FBVmdCru5-ifcor2bgq9V89khWcmQghEURY7H0czWhQ.ttf) format('truetype');
}
@font-face {
font-family : 'Lato';
font-style : normal;
font-weight : 400;
src : url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
:root {
--primary-color : #902727;
--secondary-color : #e7b851;
--accent1-color : #063360;
--accent2-color : #87BCDE;
--heading-font : verdana,sans-serif;
--paragraph-font : arial,sans-serif;
--headline-color-on-white : #063360;
--headline-color-on-color : #902727;
--paragraph-color-on-white : #063360;
--paragraph-color-on-color : #902727;
--text-background-color : #FDE1C4;
--nav-link-color : #e7b851;
--nav-background-color : #902727;
--nav-hover-link-color : #FDE1C4;
--nav-hover-background-color : #063360;
}
html {
background-color : #063360;
}
body {
max-width : 1200px;
margin : 0 auto;
padding : 20px 20px 20px 20px;
background-color : #FFF;
opacity: .85;
width: 70%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img {
max-width : 100%;
}
h1, h2, h3, h4, h5, h6 {
color : var(--primary-color);
}
header {
padding : 1em;
text-align : center;
color : var(--paragraph-color-on-color);
background-color : #FDE1C4;
}
header > h1, header > h2 {
color : var(--headline-color-on-color);
}
p {
padding : 1em;
}
.colors {
width : 100%;
min-width : 350px;
margin : auto;
text-align : center;
}
.colors th {
background-color : #999;
}
.colors td {
width : 25%;
height : 3em;
}
.primary {
background-color : var(--primary-color);
}
.secondary {
background-color : var(--secondary-color);
}
.accent1 {
background-color : var(--accent1-color);
}
.accent2 {
background-color : var(--accent2-color);
}
p.colored {
background-color : var(--secondary-color);
color : var(--paragraph-color-on-color);
}
footer {
display : grid;
grid-template-columns : repeat(3,1fr);
background-color : var(--accent1-color);
color : var(--accent2-color);
font-size : 1.2em;
}
nav a {
padding : 1em;
min-width : 70px;
text-decoration : none;
}
footer ul a {
text-decoration : none;
color : inherit;
}
.copy-right {
grid-column : 1;
grid-row : 1;
}
.secondary-menu {
grid-column : 2;
}
.social-icons {
grid-column : 3;
padding : 10px;
}
nav {
background-color : #902727;
line-height : 3em;
text-align : center;
font-size : 1.2em;
}
nav > ul {
list-style-type : none;
display : flex;
}
nav a:link, nav a:visited {
color : var(--nav-link-color);
}
nav a:hover {
color : var(--nav-hover-link-color);
background-color : #063360;
}
.sitemap {
display : grid;
justify-content : center;
grid-template-columns : repeat(6,15%);
grid-template-rows : 3em 1.5em 1.5em 3em;
grid-template-areas : ". . home home . ." ". . . top . ." ". left left right right ." "page2 page2 . . page3 page3";
}
.sitemap > div {
text-align : center;
}
.sm-home {
grid-area : home;
background-color : #999999;
line-height : 3em;
}
.sm-page2 {
grid-area : page2;
background-color : #999999;
line-height : 3em;
}
.sm-page3 {
grid-area : page3;
background-color : #999999;
line-height : 3em;
}
.top {
grid-area : top;
border-left : 1px solid;
}
.left {
grid-area : left;
border-top : 1px solid;
border-left : 1px solid;
}
.right {
grid-area : right;
border-top : 1px solid;
border-right : 1px solid;
}
.home-content-1, .home-content-2 {
display : flex;
align-items : center;
justify-content : center;
padding : 20px 0 20px 5px;
}
.home-content-3 {
display : block;
text-align : center;
}
.home-content-text {
    text-align : center;
    padding : 20px 0 20px 0;
    }

footer {
    display : grid;
    grid-template-columns : repeat(3,1fr);
    background-color : var(--accent1-color);
    color : var(--accent2-color);
    font-size : 1.2em;
    }

footer a{
    color: var(--accent2-color);
    text-decoration: none;
}
    
footer a:hover{
    color: var(--nav-hover-link-color)
}

footer p{
    font-size: 1.2em;
    color: var(--accent2-color);
}

footer p a:hover {
    text-decoration: underline;