/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #251A4C   ;
  --secondary-color: #F5002D ;
  --accent1-color: #287ACC;
  --accent2-color: #C6C8EE;

  /* change the values below to your chosen font(s) */
  --heading-font: 	Helvetica, Verdana, Arial,  sans-serif;
  --paragraph-font: 	Georgia, "Times New Roman", Garamond, serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: black; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: black; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--accent2-color)  ;
  --nav-link-color: #FCFCFF;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--primary-color);
  --nav-hover-background-color: var(--accent2-color);
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html{
    background-image:url('../images/home-1.jpg');
    background-repeat: repeat; 
    background-attachment: fixed;
}

body {
    width: 75%;
    margin: 0 auto;
    opacity: .97; 
}

img {
  display: block;
  margin: 0 auto;
  width:60%;
}
h1{
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }

hr {
  height: 1px;
  margin: 35px 0;
  background: var(--primary-color);
  width: 100%;
  padding: 0;
}
header {
  padding: .3em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 12fr ;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}



p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}


/**********************TOP NAVIGATION STYLING***********************************/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    height: fit-content;
    opacity: .9;
    margin-top: 0;
    padding: 1.5%;
  }
  
  .topnav a {    
    color: #f2f2f2;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .topnav a:hover {
    background-color: var(--accent1-color);
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

/**********************END TOP NAVIGATION STYLING***********************************/

/**********************MAIN CONTENT***********************************/
main{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    gap: .5%;    
}

aside{
    border: var(--primary-color) solid 1px;
    padding: 1%; 
    text-align: center;    
}

aside h3{text-align: center;}
.left{margin-left: -4%;}
.right{margin-right: -2%;}
aside img{
    width: 50px;
    height: 50px;
    display: inline;
}

.content{
    padding:3%;
}


/**********************END MAIN CONTENT***********************************/

/**********************HERO BOX***********************************/

.hero-box img{width: 100%;}

.hero-box p, .content p{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
}

.hero-box-top{
    grid-row: 1/2;
    margin-bottom: 0;
    margin: 0 -3%;
}


.hero-box-bottom{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;    
}

/*.hero-box-bottom p{grid-column: 1/2;}*/
.hero-box-bottom img{
    grid-column: 2/3;
    margin-top: -3%;
}

.msg{
    text-align: center;
    background-color: var(--paragraph-background-color);
}

/*******************SUBCONTENT 6 POSTS*******************/
.innovations h2{
    text-align: center;
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5%
}



.posted-item{
    background-color: white;
    box-shadow: #999;
    grid-row: 2/5;
}

.subcontent img{
    grid-row: 2/4;
}

.subcontent p{
    grid-row: 4/5;
}



/*******************eND SUBCONTENT 6 POSTS*******************/


footer {
    color : var(--accent2-color);
    font-size : .8em;
    padding : 1% 5%;
    display : flex;
    justify-content : space-around;
    align-items : center;
    }
footer a {
    color : var(--accent2-color);
    text-decoration : none;
    }

footer a:hover {
    color : var(--secondary-color);
    }
footer p {
    font-size : 1.2em;
    color : var(--accent2-color);
    }

footer p a:hover {
    text-decoration : underline;
    
}




/**********************END HERO BOX***********************************/
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      background-color: var(--accent2-color);
    }

    .topnav.responsive {
        position: relative;
        padding: 1.1em;
        background-color: var(--accent2-color);
        
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: var(--accent2-color);
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: var(--primary-color);
    }

    .topnav a{font-size: 1em;}


}